<ion-header>
    <ion-toolbar color="primary">
        <div class="absolute-Center">
            <ion-menu-button style="width: 10%;  float: left;" color="tertiary"></ion-menu-button>
            <ion-searchbar style="width: 80%;  float: left;" placeholder="Que estas buscando?"></ion-searchbar>
            <ion-icon style="width: 10%;  float: left; font-size: 30px;" name="cart-outline"></ion-icon>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <div style="margin: 20px;">

            <!-- seccion de bienvenida -->
            <h3>Bienvenido Steven</h3>
            <ion-slides style="padding-bottom: 25px;" [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad1(slider)">
                <ion-slide *ngFor="let actual of banners;">
                    <div style="border: 2px solid gray;
                                border-radius: 10px;
                                overflow: hidden;" class="flex-container">
                        <img [src]="actual" style="object-fit: cover;">
                    </div>
                </ion-slide>
            </ion-slides>

            <!-- seccion productos destacados -->
            <div>
                <h3 style="color:#ad6370; margin: 0px; margin-bottom: 5px;">Productos destacados</h3>
            </div>
            <div style="border: 1px solid gray;
                        border-radius: 10px;
                        overflow: hidden;">
                <ion-slides #slider2 (ionSlidesDidLoad)="slidesDidLoad2(slider2)">
                    <ion-slide *ngFor="let actual of productos;">
                        <div>
                            <ion-row class="absolute-Center">
                                <ion-col>
                                    <ion-icon style="top: 50%;" (click)="prev()" name="chevron-back-sharp" color="dark" class="backBtn"></ion-icon>
                                </ion-col>
                                <ion-col>
                                    <img [src]="actual.sourceIMG">
                                </ion-col>
                                <ion-col>
                                    <ion-icon (click)="next()" name="chevron-forward-sharp" color="dark" class="nextBtn"></ion-icon>
                                </ion-col>
                            </ion-row>
                            <div>
                                <div style="width: 30%; float: right; font-size: 18px;color:blue;">
                                    <p style="margin: 0px;">{{actual.precio}}</p>
                                </div>
                                <div style="width: 70%; float: right; font-size: 18px;">
                                    <p style="text-align: justify; margin: 0px;">{{actual.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div style="width: 100%;">
                    <ion-button expand="block" color="tertiary" style="font-size: 12px;"> Añadir al carrito
                        <ion-icon slot="start" name="cart-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>

            <!-- seccion categorias -->
            <div>
                <div>
                    <h3 style="color:#ad6370; margin: 5px;">Categorias destacadas</h3>
                </div>
                <ion-row *ngFor="let actual of categorias;">
                    <ion-col style="width: 33%;">
                        <ion-button expand="block" color="tertiary" style="font-size: 10px;">{{actual.categ1}}</ion-button>
                    </ion-col>
                    <ion-col style="width: 33%;">
                        <ion-button expand="block" color="tertiary" style="font-size: 10px;">{{actual.categ2}}</ion-button>
                    </ion-col>
                    <ion-col style="width: 33%;">
                        <ion-button expand="block" color="tertiary" style="font-size: 10px;">{{actual.categ3}}</ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </ion-content>

</ion-content>